body {
    position: relative;
    overflow-x: hidden;
  }
  
  #side-menu {
    background-color: #393939;
  }
  
  #side-menu .nav-item {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  #side-menu .nav-item p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    padding: .5rem 1rem;
  }
  
  #side-menu .nav-item .nav-link {
    border: 0;
    border-radius: 0;
    color: #4b9cdb;
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  #side-menu .nav-item .nav-link.active {
    background-color: #4b9cdb;
    color: white;
  }
  
  
  #side-menu-tabContent {
    background: #f1f5f8;
  }
  
  #tab1-programs.show	{
      display: block;
  }
      
  #tab1-programs {
    background-color: #4f565c;
      display: none;
  }
      
  #tab1-programs .nav-link {
      color: rgba(255, 255, 255, 0.5) !important;
      font-size: 1.1rem !important;
      font-weight: 400 !important;
  }
  
  #tab1-programs .nav-link.active {
      background-color: transparent !important;
      color: rgba(255, 255, 255, 1) !important;
  }
  
  .side-menu__title {
    border-bottom: solid 2px white;
    color: white;
  }
  
  h2 {
    font-size: 3rem;
    margin-bottom: 2%;
  }
  
  .banner__content {
    font-size: 1.1rem;
  }
  

  body {
	border: 0;
	margin: 0;
	/* width: 117%; */
}



.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.pathway{
	width:40%;
	margin:10%;
}
