.col_white_amrc {
	color: #FFF;
}

footer {
	width: 100%;
	background-color: #263238;
	min-height: 250px;
	padding: 10px 0px 25px 0px;
}

.pt2 {
	padding-top: 40px;
	margin-bottom: 20px;
}

footer p {
	font-size: 13px;
	color: #CCC;
	padding-bottom: 0px;
	margin-bottom: 8px;
}

.mb10 {
	padding-bottom: 15px;
}

.footer_ul_amrc {
	margin: 0px;
	list-style-type: none;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
	padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
	color: #CCC;
}

.footer_ul_amrc li a:hover {
	color: #fff;
	text-decoration: none;
}

.fleft {
	float: left;
}

.padding-right {
	padding-right: 10px;
}

.footer_ul2_amrc {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

.footer_ul2_amrc li p {
	display: table;
}

.footer_ul2_amrc li a:hover {
	text-decoration: none;
}

.footer_ul2_amrc li i {
	margin-top: 5px;
}

.bottom_border {
	border-bottom: 1px solid #323f45;
	padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
	list-style-type: none;
	padding: 0px;
	display: table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

.foote_bottom_ul_amrc li {
	display: inline;
}

.foote_bottom_ul_amrc li a {
	color: #999;
	margin: 0 12px;
}

.social_footer_ul {
	display: table;
	margin: 15px auto 0 auto;
	list-style-type: none;
}

.social_footer_ul li {
	padding-left: 20px;
	padding-top: 10px;
	float: left;
}

.social_footer_ul li a {
	color: #CCC;
	border: 1px solid #CCC;
	padding: 8px;
	border-radius: 50%;
}

.social_footer_ul li i {
	width: 20px;
	height: 20px;
	text-align: center;
}



.card {
	transition: transform 0.2s ease;
	box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
	border-radius: 0;
	border: 0;
	margin-bottom: 1.5em;
}

.card:hover {
	transform: scale(1.1);
}

.Partner__Container {
	width: 70%;
	margin: 1rem auto;
}

.heading__change {
	display: flex;
	flex-direction: column;
}

.image__response {
	display: block;
	width: 100%;
	height: 340;
	margin: auto;
}

.tales {
	width: 100%;
}

.carousel-inner {
	width: 100%;
	max-height: 800px !important;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 15px;
	right: 15px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 2px 2px 3px #999;
	z-index: 100;
}

.my-float {
	margin-top: 16px;
}

.style-7 {
	border: 3px solid #000;
	color: #000;
	font: 12px Montserrat;
	text-transform: uppercase;
	padding: 10px;
	font-weight: 600;
	max-width: 250px;
	display: block;
	text-align: center;
	margin: 30px auto 10px auto;
	position: relative;
	-webkit-box-shadow: -10px -10px 0 0 #D66D75, 10px 10px 0 0 #E29587;
	box-shadow: -10px -10px 0 0 #D66D75, 10px 10px 0 0 #E29587;

}

.style-7:hover {
	background: #000;
	border-color: #000;
	color: #fff;
	-webkit-box-shadow: -10px -10px 0 0 #D66D75, 10px 10px 0 0 #E29587;
	box-shadow: 10px -10px 0 0 #D66D75, -10px 10px 0 0 #E29587;
}

/* @media (min-width: 992px) {
	.navbar {
		margin-top: 0;
		top: 45px;
	}
} */


.list-above_nav {
	display: inline-block;
	margin: 0 4px;
}
.detail_user{
	text-decoration: none;
	color:white;

}